<ion-view title="Help">
  <ion-content scroll="false" has-tabs="true" class="page help-page">
    <ion-content class="overlay">
      <ion-content scroll="false">
        <img src="assets/img/banner_help.png" class="banner" align="center">
      </ion-content>
      <ion-content class="text-content">
        <p>This app is a virtual version of the physical Story Portal wheel. There are twenty panels on the wheel at any time. By tapping the 'New Topics' button you can get another twenty random tiles on the wheel. Spin the wheel by flicking your finger up or down on it. When the wheel lands on a panel, tell an unrehearsed story about the topic to the people you are with. You can also record the story. A future update will enable you to send your story to the Story Portal project for inclusion in an upcoming art project!</p>

        <p>This app was built by Kreator303.</p>
      </ion-content>
      <a href="http://www.kreator303.com"><img class="btn" src="assets/img/buttons/button_kreator303.png"></a>
    </ion-content>
  </ion-content>
</ion-view>