<ion-view title="Project">
  <ion-content scroll="false" has-tabs="true" class="page project-page">
    <ion-content class="overlay">
      <ion-content scroll="false">
        <img src="assets/img/banner_project.png" class="banner" align="center">
      </ion-content>
      <ion-content class="text-content">
        <p>The Story Portal aims to connect individuals to the vast world of shared experience through spontaneous and true storytelling. The concept is simple - spin the wheel and tell us a story about the topic it lands on.</p>

        <p>The next phase of The Story Portal has us delivering the piece to the largest interactive arts festival in the world, Burning Man. We will be providing the opportunity for 58,000 plus attendees to connect with each other through the power of story. While we are excited to deliver the stage as an aesthetically impressive art piece, we are most excited by the prospect of having a large a platform like Burning Man to proliferate the Story Portal concept.</p>

        <p>This app can bring some of the Story Portal experience to wherever you gather with community. Please consider donating to the project and come and use the wheel in person! You can follow the latest Story Portal news at our blog.</p>
      </ion-content>
      <a href="www.thestoryportal.org"><img class="btn" src="assets/img/buttons/button_blog.png"></a>
    </div>
  </div>
</ion-view>